# Node.js
node_modules/
*.log

# Python
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env*

# IDEs
.idea/
.vscode/

# Operating Systems
.DS_Store
Thumbs.db

# Package Lock files
package-lock.json
yarn.lock

# Dist
/dist/

# Others
.nuxt
*.sw*
